<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About Us")}</h1>
        <div class="about-info text-center">
                <p>At Cuelogic, we develop software for leading edge startups across the globe as well as with Fortune 500 enterprises looking to compete with unicorns.</p>
                <p>We have built many scalable products having high traffic challenges on consumer side and complex workflows on enterprise front covering areas including web, cloud, IOT, Big data, mobility, payments in domains covering media, advertising, education, health, travel, finance and others. Giving us the breadth and depth of expertize and talent to solve complex problems and build sustainable innovations.</p>
            </div>
 		
<!-- 	 	<div class="row">
 -->		    <div class="col-sm-3">
	          <div class="well">
	            <h4>Users</h4>
	            <p>1 Million</p> 
	          </div>
	        </div>
	        <div class="col-sm-3">
	          <div class="well">
	            <h4>Pages</h4>
	            <p>100 Million</p> 
	          </div>
	        </div>
	        <div class="col-sm-3">
	          <div class="well">
	            <h4>Sessions</h4>
	            <p>10 Million</p> 
	          </div>
	        </div>
	        <div class="col-sm-3">
	          <div class="well">
	            <h4>Bounce</h4>
	            <p>30%</p> 
	          </div>
	        </div>
	     </div>

	     
	     

    </section>

 </main>
